@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap);

body {
	font-family: Inter, sans-serif;
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-size: cover
}

.page {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 40px 20px;
}

.formCadastro {
	display: flex;
	flex-direction: column;
	background-color: #f1efef;
	border-radius: 7px;
	padding: 60px;
	margin-top: 30px;
	max-width: 320px;
	box-shadow: 10px 10px 40px rgba(0, 0, 0, .4);
	
}

.formCadastro h1 {
	text-align: center;
	margin-bottom: 30px;
	font-size: 28px;
	font-weight: 700
}

.formCadastro p {
	font-size: 14px;
	margin-bottom: 25px;
}

.form-row {
	display: flex;
	gap: 5px;
	flex-wrap: wrap;
}

.form-group {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
	
}
.form-groupSE input{
	flex: 1;
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
	width: 295px;
	
}

.formCadastro label {
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 5px;
}

.formCadastro input,
.formCadastro select {
	padding: 12px;
	font-size: 14px;
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color: #f8f8f8;
}

.btn {
	background-color: #856a3d;
	color: #fff;
	padding: 15px;
	font-weight: 700;
	font-size: 16px;
	border: none;
	border-radius: 12px;
	cursor: pointer;
	margin-top: 20px;
	width: 100%;
	transition: 160ms linear;
}

.btn:hover {
	transform: scale(1.05);
	background-color: #4d4b49;
}

.formCadastro a {
	display: block;
	text-align: center;
	font-size: 14px;
	color: #555;
	margin-top: 15px;
	text-decoration: none;
	transition: color .2s;
}

.formCadastro a:hover {
	color: #686562;
}

#erro {
	color: red;
	text-align: center;
	margin-top: 10px;
	font-size: 14px;
	display: none;
}